@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");

i {
    cursor: pointer;
    color: #ffffff ;
    /* color: #0275d8 ; */

}


.card-note {
    border-radius: 25px;
}

.btn-1{
    width: 100px;
}

.btn-1:hover .btn-icon1 {
    color: #0275d8;
}

.btn-1:hover {
    background-color: white;
    color: #0275d8;
}

.btn-2 {
    border: 2px solid #0275d8 ;
    background-color: white;
    color: #0275d8;
    width: 100px;
    margin-left: 5px;
}

.btn-icon1{
    color: #ffffff;
}

.btn-icon2{
    color: #0275d8;
}

.btn-2:hover .btn-icon2 {
    color: #ffffff;
}

